.dataset
.data
.custom_models
.fastembed_cache
__pycache__
target
./src/ai_server/.venv
.embeddings_models
.github
.local-demo
.vscode
.idea
docs
.git
tests
otel
.embeddings_models_cache
./src/ai_server/.env
.python-version
./src/ai_server/**/__pycache__
**/.dataset
**/.data
**/.custom_models
**/.fastembed_cache
**/__pycache__
**/target
**/.venv
**/.embeddings_models
