/target

posting_storage
.idea
.custom_models

.fastembed_cache
./src/bin/datasets/*.csv
.foo
.data
.dataset
.local-demo

.vscode
flamegraph.svg
.direnv/
.envrc

.env

log.log
.DS_Store

src/tests/dump-test
!src/tests/dump-test/before-remove-odered-key/.data
config-dev.yaml
*.html
