/target

posting_storage
.idea
.custom_models
.dev

.fastembed_cache
./src/bin/datasets/*.csv
.foo
.data
.dataset
.local-demo
.dev
.vscode
flamegraph.svg
.direnv/
.envrc
.npm
.env
.venv

log.log
.DS_Store

src/tests/dump-test
!src/tests/dump-test/before-remove-odered-key/.data
config-dev.yaml
*.html
*.tar.gz
