[package]
name = "oramacore"
version = "0.1.0"
edition = "2021"

[dependencies]
config = { version = "0.15.6", features = ["json5"] }

anyhow = "1"
thiserror = "2"

smallvec = { version = "1.13.2", features = ["serde"] }

tokio = { version = "1", features = ["rt", "rt-multi-thread", "full", "sync"] }
tokio-stream = "0.1"

serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }


bincode = "1.3.3"

rayon = "1.10.0"
prost = "0.13.4"
tonic = "0.12.3"

dashmap = { version = "6.1.0", features = ["rayon"] }
csv = "1.3.1"

ptrie = { git = "https://github.com/oramasearch/ptrie.git", branch = "feat/expose-find-postfixes-with-current" }

regex = "1.11.1"

invocation-counter = "0.1.0"


rust-stemmers = "1.2.0"
text-splitter = { version = "0.21", features = ["tiktoken-rs", "markdown", "code"] }
tiktoken-rs = "0.6.0"
tree-sitter = "0.24.7"
tree-sitter-html = "0.23.2"
tree-sitter-javascript = "0.23.1"
tree-sitter-typescript = "0.23.2"

async-trait = "0.1.85"


fst = "0.4.7"
rand = "0.8.5"

ordered-float = "4"
num-traits = "0.2"

futures = "0.3.31"

itertools = "0.14"

# Webserver
axum = { version = "0.7.9", features = ["macros"] }
tower-http = { version = "0.6.2", features = ["trace", "cors"] }
http = "1.2.0"
axum-openapi3 = { version = "0.1.0", features = ["derive"] }

# Embeddings
hora = { version = "0.1.1" }
fastembed = { version = "4.4.0", features = ["ort-download-binaries"] }
strum = { version = "0.26", features = ["derive"] }
strum_macros = "0.26.4"
ndarray = "=0.15.6"
reductive = "0.9.0"
rand_chacha = "0.3.1"
reqwest = { version = "0.12.12", features = ["blocking", "json"] }
quick-js = "0.4.1"

# Tracing
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
duration-string = "0.5.2"
deno_core = "0.330.0"
serde_v8 = "0.239.0"

# prometheus
metrics-exporter-prometheus = "0.16.1"
metrics = "0.24.1"
metrics-util = "0.19.0"

tempdir = { version ="0.3.7", optional = true }
memmap = "0.7.0"
cuid2 = "0.1.4"

mobc = "0.8"

[build-dependencies]
cc="1"
tonic-build = "0.12.3"

[dev-dependencies]
hurl = "6.0.0"
hurl_core = "6.0.0"
pretty_assertions = "1.4.1"
criterion = { version = "0.5.1", features = ["async_tokio"] }
http-body-util = "0.1.2"
mime = "0.3.17"
tower = { version = "0.5.2", features = ["util"] }
rand = "0.8.5"
assert_approx_eq = "1.1.0"

[[bin]]
name = "oramacore"
path = "src/bin/oramacore.rs"
[[bin]]
name = "embeddings"
path = "src/bin/embeddings/embeddings.rs"

[[bench]]
name = "phrase_match"
harness = false

[features]
default = ["benchmarking"]
benchmarking = [ "tempdir" ]
test-python = []

[workspace]
members = [
    
]
