[package]
name = "oramacore"
version = "0.1.0"
edition = "2021"

[dependencies]
config = { version = "0.15.6", features = ["json5"] }

anyhow = "1"
thiserror = "2"

smallvec = { version = "1.13.2", features = ["serde"] }

tokio = { version = "1", features = ["rt", "rt-multi-thread", "full", "sync"] }
tokio-stream = "0.1"

serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }


bincode = "1.3.3"

rayon = "1.10.0"
prost = "0.13.4"
tonic = "0.12.3"

dashmap = { version = "6.1.0", features = ["rayon"] }
csv = "1.3.1"

ptrie = { git = "https://github.com/oramasearch/ptrie.git", branch = "feat/expose-find-postfixes-with-current", features = [
    "serde",
] }

regex = "1.11.1"

invocation-counter = "0.1.0"


rust-stemmers = "1.2.0"
text-splitter = { version = "0.22", features = [
    "tiktoken-rs",
    "markdown",
    "code",
] }
tiktoken-rs = "0.6.0"
tree-sitter = "0.24"
tree-sitter-html = "0.23.2"
tree-sitter-javascript = "0.23.1"
tree-sitter-typescript = "0.23.2"

async-trait = "0.1.85"

fst = "0.4.7"
rand = "0.9"

ordered-float = "4"
num-traits = "0.2"

futures = "0.3.31"

itertools = "0.14"
duration-string = { version = "0.5.2", features = ["serde"] }
chrono = "0.4.39"

# Webserver
axum = { version = "0.8.1", features = ["macros"] }
axum-extra = { version = "0.10.0", features = ["typed-header"] }
tower-http = { version = "0.6.2", features = ["trace", "cors"] }
http = "1.2.0"
axum-openapi3 = { version = "0.2", features = ["derive"] }

strum_macros = "0.26.4"

# Tracing
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }

# JS
oxc_parser = "0.47.1"
oxc_allocator = "0.47.1"
oxc_span = "0.47.1"

# prometheus
metrics-exporter-prometheus = "0.16.1"
metrics = "0.24.1"
metrics-util = "0.19.0"

memmap = "0.7.0"
cuid2 = "0.1.4"

mobc = "0.8"
redact = { version = "0.1", features = ["serde"] }
duration-str = "0.12.0"
rabbitmq-stream-client = { version = "0.8", features = ["serde"] }
backoff = { version = "0.4.0", features = ["tokio"] }
pin-project-lite = "0.2.16"
parking_lot = "0.12.3"
serde-big-array = "0.5.1"
debug_panic = "0.2.1"
dedent = "0.1.1"
hnsw2 = { path = "./crates/hnsw2" }

orama-js-pool = "0.1.0"

[build-dependencies]
cc = "1"
tonic-build = "0.12.3"

[dev-dependencies]
hurl = "6.0.0"
hurl_core = "6.0.0"
pretty_assertions = "1.4.1"
criterion = { version = "0.5.1", features = ["async_tokio"] }
http-body-util = "0.1.2"
mime = "0.3.17"
tower = { version = "0.5.2", features = ["util"] }
assert_approx_eq = "1.1.0"
fastembed = { version = "4.4.0", features = ["ort-download-binaries"] }
reqwest = { version = "0.12.12", features = ["blocking", "json"] }
tempfile = "3"
fake = "4.0.0"

[[bin]]
name = "oramacore"
path = "src/bin/oramacore.rs"
[[bin]]
name = "embeddings"
path = "src/bin/embeddings/embeddings.rs"

# [[bench]]
# name = "phrase_match"
# harness = false

[[bench]]
name = "hnsw"
harness = false

[features]
default = ["writer", "reader"]
no_auto_embedding_field_on_creation = []
writer = []
reader = []

[workspace]
members = ["crates/hnsw2"]
