# Python 3.11 suggested

numpy==2.3.4

torch==2.9.0+cu124
--extra-index-url https://download.pytorch.org/whl/cu124
torchvision==0.24.0
torchaudio==2.9.0

opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0

python-dotenv==1.0.1
fastembed-gpu==0.5.1
nvidia-cudnn-cu12==9.14.0.64
argparse==1.4.0

pyyaml==6.0.2
cachetools==6.2.1
json-repair==0.52.0
pillow==12.0.0

pytest==8.3.4
pytest-mock==3.14.0

onnxruntime-gpu==1.23.0 --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
accelerate==1.2.1
einops==0.8.0
bitsandbytes==0.48.1