# Python 3.11 suggested

numpy
grpcio-tools
grpcio
python-dotenv
fastembed
# fastembed-gpu
grpcio-reflection
argparse
--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
opentelemetry-api
opentelemetry-sdk
pyyaml
cachetools
vllm
json-repair