# Python 3.11 suggested

numpy
grpcio-tools
grpcio
python-dotenv
fastembed-gpu
nvidia-cudnn-cu12
grpcio-reflection
argparse
--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
opentelemetry-api
opentelemetry-sdk
pyyaml
cachetools
vllm
json-repair
pillow

pytest
pytest-mock