name: Build and Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build-and-upload:
    name: Build and Upload Release Assets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Protocol Buffers Compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build Default Binary
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: Save Default Binary
        run: cp ./target/release/oramacore ./target/release/oramacore-compact

      - name: Build Reader Binary
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --no-default-features --release --features reader

      - name: Save Reader Binary
        run: cp ./target/release/oramacore ./target/release/oramacore-reader

      - name: Build Writer Binary
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --no-default-features --release --features writer

      - name: Save Writer Binary
        run: cp ./target/release/oramacore ./target/release/oramacore-writer

      - name: Upload Binaries to Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./target/release/oramacore-compact
            ./target/release/oramacore-reader
            ./target/release/oramacore-writer
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0
        with:
          install_components: 'gcloud'
      
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      
      - name: Trigger Cloud Build for Orama Core - Staging
        run: |
          gcloud builds triggers run deploy-orama-core \
            --project=orama-cloud-staging \
            --branch=main \
            --region=us-central1
