name: Rust

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: apt-get update
      run: sudo apt-get update
    - name: apt-get install
      run: |
        sudo apt-get install -y libssl3 pkg-config libssl-dev g++ build-essential ca-certificates protobuf-compiler
    - name: Set up cargo cache
      uses: actions/cache@v3
      continue-on-error: false
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-
    - name: Install target
      run: rustup target add x86_64-unknown-linux-gnu
    - name: Environment
      run: |
        gcc --version
        g++ --version
        rustc --version
        cargo --version
    - name: Build
      run: |
        cargo build --release --target x86_64-unknown-linux-gnu -p oramacore
        cp ./target/x86_64-unknown-linux-gnu/release/oramacore ./oramacore-standalone

        cargo build --release --target x86_64-unknown-linux-gnu -p oramacore --features writer
        cp ./target/x86_64-unknown-linux-gnu/release/oramacore ./oramacore-writer

        cargo build --release --target x86_64-unknown-linux-gnu -p oramacore --features reader
        cp ./target/x86_64-unknown-linux-gnu/release/oramacore ./oramacore-reader

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          oramacore-standalone
          oramacore-writer
          oramacore-reader
